<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Sport</th>
      <th scope="col">League Info</th>
      <th scope="col">Game Location</th>
      <th scope="col">Game Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Football</th>
      <td>Cambridge Men's Flag Football League</td>
      <td>Russell Field</td>
      <td>Thursday, July 30, 2018, 7:00p</td>
    </tr>
    <tr>
      <th scope="row">Ice Hockey</th>
      <td>Boston Rec Hockey League</td>
      <td>Harvard Ice Arena</td>
      <td>Friday, July 31, 2018, 7:00p</td>
    </tr>
  </tbody>
</table>
