<div class="center jumbotron">
  <h1>Welcome to PICKUP</h1>

  <h2>
    Sign up to see what's going on near you, or log in to join a game.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

