<%= provide(:title, @user.name) %>
<div class="row">
  <section class="user_info">
    <h1>
      <%= gravatar_for @user %>
      <%= @user.name %>
    </h1>
  </section> 
</div>

<div class="row">
  <div class="form-group">
    <label>Location:</label>
    <input type="text" class="form-control">
  </div>
</div>  

<div class="row">
  <div class="form-group">
    <label>I'm here to play:</label>
    <textarea class="form-control" rows="3"></textarea>
  </div>
</div>


